<!-- Some Fune Facts
============================================= -->
<section id="fun-facts">
    <div class="container">
        <h2>Some Fun Facts </h2>
        <hr class="light-sep">
        <p>Fun Facts</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-happy"></span>
                <h2 class="number timer">367</h2>
                <h4>Happy Clients</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-trophy"></span>
                <h2 class="number timer">150</h2>
                <h4>Project Done</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-wine"></span>
                <h2 class="number timer">121</h2>
                <h4>Glass Of Wine</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-documents"></span>
                <h2 class="number timer">10000</h2>
                <h4>Lines Of Code</h4>
            </div>
        </div>
    </div>
</section>