<!-- Welcome 
============================================= -->
<section id="welcome">
    <div class="container">
        <h2>Welcome To <span>Cambridge Core</span></h2>
            <hr class="sep">
                <p>Make Yourself At Home Don't Be Shy</p>
        <img class="img-responsive center-block wow fadeInUp" data-wow-delay=".3s" src="/img/welcome/logo.png" alt="logo">
    </div>
</section>