<!DOCTYPE html>
<html>
    <head><% include partials/template/head.ejs %></head>
    
    <body id="<%= pageID %>">
        
        <% include partials/template/header.ejs %>
        <% include partials/template/welcome.ejs %>
        <% include partials/template/services.ejs %>
        <% include partials/template/portfolio.ejs %>
        <% include partials/template/newsletter.ejs %>
        <% include partials/template/workprocess.ejs %>
        <% include partials/template/funfacts.ejs %>
        <% include partials/template/teamfacts.ejs %>
        <% include partials/template/testimonials.ejs %>
        <% include partials/template/contactus.ejs %>
        <% include partials/template/googlemap.ejs %>

        <% include partials/template/scripts.ejs %>
    </body>
</html>
